.body{
    position:relative;
    /* height:2724px; */
    background: #005055;
    background-image: url(../img/bg-lights.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.div-gradient{
    width:100%;
    /* height:2724px; */
    background: linear-gradient(193.48deg, #030F14 0%, rgba(21, 54, 73, 0.2) 49.95%, #030F14 100%);
    backdrop-filter: blur(4px);
}
.header-wrapper{
    position:sticky;
    width:100%;
    height: 160px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
}
.logo-text{
    max-width:374px;
    margin-left: 55px;
    margin-top:30px;
    width: 208px;
    height: 129px; 
    font-family: 'Georama';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    background: linear-gradient(109.84deg, #63FFA1 0%, rgba(255, 255, 255, 0.3) 98.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Outfit', sans-serif;
    /* text-fill-color: transparent; */
}
.hospital{
    padding-left: 20%;
}
.portal{
    padding-left: 50%;
    font-weight: 400;
}
.navigation{
    display: flex;
    max-width:742px;
}
.nav-bar{
    display:flex;
    justify-content: space-around;
    width:742px;
    align-items: center;
}
.nav-element{
    color:white;
    font-size:16px;
    font-weight: 400;
    border: 2px solid transparent;
    transition: all 0.2s linear 0.3s;
    padding-bottom: 5px;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
.nav-element:hover{
    border-bottom-color: white;
}
.in-div{
    width:318px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.log-in{
    text-align: center;
    color:white;
    width:154px;
    height:38px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #009E95;
    border-radius: 10px;
    line-height: 2.5;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
.sign-in{
    text-align: center;
    color:white;
    width:154px;
    height:38px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #009E95;
    border-radius: 10px;
    line-height: 2.5;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
.logo-wrapper{
    display:flex;
    width:300px;
    height:270px;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    margin-top:112px;

}
.logo{
    width:270px;
    height:270px;
}
.info-box-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    width:100%;
    margin:0 auto;
    margin-top:160px;
}
.info-box{
    display:flex;
    flex-direction: column;
    width:582px;
    background: linear-gradient(118.18deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
.info-box-title{
    width: 500px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color:#ffffff;
    padding-top:70px;
    text-align: center;
    font-family: "BPG Nino Mtavruli", sans-serif;
    text-align: center;
}
.info-box-button{
    font-weight: 400;
    font-size: 20px;
    line-height: 3.5;
    text-align: center;
    color:#ffffff;
    margin-top:70px;
    margin-bottom: 92px;
    border: 2px solid #009E95;
    border-radius:20px;
    width:191px;
    height:74px;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
.info-box-wrapper :nth-child(1){
    margin: 0 135px 90px 0;
}
.info-box-wrapper :nth-child(2){
    margin: 0 0 90px 0;
}
.info-box-wrapper :nth-child(3){
    margin: 0 135px 0 0;
}
.main-footer{
    width:100%;
    height:360px;
    margin-top:170px;
    padding: 22px 70px 0 70px;
    background: linear-gradient(94.18deg, rgba(3, 34, 36, 0.5) 0%, rgba(3, 34, 36, 0.5) 100%);
    backdrop-filter: blur(50px);
}
.top-footer-wrapper{
    display: flex;
    justify-content: space-between;
}
.ft-textarea-title{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color:#ffffff;
    margin-bottom: 24px;
}
.ft-textarea{
    max-width:648px;
    width:100%;
    background: #D9D9D9;
    border-radius: 10px;
    margin-bottom: 24px;
}
.ft-wt{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #B4B4B4;
}
.founder-contact{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.mail-adress{
    font-family: "Georama", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 34px;
}
.contact-divider{
    border-left: 0.5px solid white;
    height:20px;
}
.number{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 34px;
}
.ft-divider{
    border: 1px solid #009E95;
    width:100%;
    margin-bottom: 15px;
}
.bottom-ft-text{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #B4B4B4;
    margin-bottom: 2px;
}
.create-year{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    margin-bottom: 2px;
}
.bottom-ft-flex{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.icon-wrapper{
    display: flex;
    flex-direction: row;
    width:145px;
    justify-content: space-between;
    align-items: center;
}
.sm-icon-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width:35px;
    height:35px;
    border-radius: 50px;
    background: #074B50;
}
.sm-icon-fb{
    width:9.33px;
    height:17.11px;
    color: #ffffff;
}
.sm-icon{
    position: absolute;
    width:19.44px;
    color: #ffffff;
}

/* about us page */
.introduce-div{
    width:852px;
    margin-left:70px;
    margin-top: 150px;
}
.aboutus-title{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;
    margin-bottom: 33px;
}
.aboutus-text{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #B4B4B4;
}
.profiles-wrapper{
    width:100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    margin-top:90px;
}
.profile-name{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 37px;
}

/* ონლაინ დიაგნოზტიკა */
.disorder-box-wrapper{
    width:100%;
    display: flex;
    justify-content: center;
    gap:170px;
    margin-top:130px;
}
.disorder-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.health-div{
    width: 215px;
    height: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #009E95;
    border-radius: 30px;
}
.frame-brain{
    margin-bottom: 88px;
}
.frame-body{
    margin-bottom: 20px;
}
.health{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}
/* ფიზიკური ჯანმრთელობა */
.Symptom-textarea-wrapper{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-top:132px;
    gap:31px;
}
.Symptom-textarea{
    display: block;
    resize: none;
    width:593px;
    border-radius: 10px;
    font-size: 20px;
    border:none;
}
.Symptom-textarea-button{
    width:52px;
    height:52px;
    background-color: transparent;
    border: 1px solid #009E95;
}
.output-logo-wrapper{
    display: flex;
    justify-content: space-between;
}
.answer-output{
    width: 803px;
    height: 220px;
    border: 1px solid #00FFF0;
    margin: 55px 0 0 70px;
}
.physical-logo{
    margin-right: 70px;
}
/* ვიზიტის ჩანიშვნა */

.clinics{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    margin:123px 0 73px 70px;
}
.clinic-info-wrapper{
    max-width:1300px;
    width:100%;
    height:460px;
    margin:0 auto;
    background: rgba(12, 172, 163, 0.15);
    border-radius: 50px;
    padding:50px 75px;
}
.photo-title-wrapper{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-rate-wrapper{
    margin-right:80px ;
}
.starrate-wrapper{
    margin-top: 15px;
}
.clinic-title-wrapper{
    width:770px;
}
.clinic-title{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: #DADADA;
}
.clinic-services-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:33px;
}
.clinic-services{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #FFFFFF;
    background: #035A4B;
    height:36px;
    text-align: center;
    padding:0 5px;
}
.adress-button-wrapper{
    width:770px;
    display: flex;
    justify-content: space-between;
    margin-top:100px;
}
.misamarti{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.misamarti-text{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #B4B4B4;
    margin-top:23px;
}
.srulad-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    border: 1px solid #009E95;
    border-radius: 10px;
}
.srulad{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    color:#ffffff;
}



